@media (min-width: 768px){

    

.container{
max-width: 1600px;
     
}

.top-logo{
    max-width: 100%;
    height: 4.5rem;
}

.cta-link{
    padding: 1.2rem 2.8rem;
    font-size: 1.2rem;
}


.hero-container{
    grid-template-columns: 1fr 1fr;

}

.hero-image{
    order:2;

}

.hero-textbox{
    order:1;
    padding: 0rem 3rem;
    align-content: center;
    
}

.hero-title{
    font-size: 3rem;
    margin-bottom: 1.5rem;

}


.hero-description{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.hero-subdescription{
    font-size: 1rem;
}

/* Solution Section  */

.solution-container{
    gap: 4rem;
    width: 100%;
    max-width: 67rem;
    margin: 0 auto;

}

.solution-block{
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;

}

.solution-block-fix .solution-imagebox{
    order: 2;
}

.solution-block-fix .solution-textbox{
    order: 1;
}

.solution-heading{
    font-size: 2rem;
}

.solution-list li,
.solution-note,
.solution-body{
    font-size: .8rem;
}





}

@media (min-width: 1024px){

.hero-textbox{
padding: 0rem 5rem;
}


.hero-title{
    font-size: 3.6rem;
    margin-bottom: 2rem;

}


.hero-description{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.hero-subdescription{
    font-size: 1.6rem;
}

/* Solution Section  */

.solution-heading{
    font-size: 2.8rem;
}

.solution-container{
    max-width: 85rem;
}

.solution-list li,
.solution-note,
.solution-body{
    font-size: 1.1rem;
}



    
}


@media (min-width: 1200px){

.top-logo{
    max-width: 100%;
    height: 5.5rem;
}

.cta-link{
    padding: 1.2rem 2.8rem;
    font-size: 1.6rem;
}    

.hero-textbox{
padding: 0rem 7rem 0rem 9rem;
}


.hero-title{
    font-size: 3.8rem;
    margin-bottom: 2rem;

}


.hero-description{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.hero-subdescription{
    font-size: 1.8rem;
}

/* Solution Section  */

.solution-container{
    max-width: 100rem;
}

.solution-heading{
    font-size:3.6rem;
}

.solution-list li,
.solution-note,
.solution-body{
    font-size: 1.3rem;
}

    
}

@media (min-width: 1400px){

.hero-textbox{
padding: 0rem 9rem 0rem 11rem;
}


.hero-title{
    font-size: 4.4rem;
    margin-bottom: 2rem;

}


.hero-description{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.hero-subdescription{
    font-size: 2rem;
}

/* Solution Section  */

.solution-container{
    max-width: 115rem;
}

.solution-heading{
    font-size: 4.2rem;
}

.solution-list li,
.solution-note,
.solution-body{
    font-size: 1.5rem;
}

    


}

/* Mobile */
@media (max-width: 376px) {
  .cta-link{
    padding: 1rem 2rem;
    font-size: .9rem;
  }

  .hero-title{
    font-size: 2.6rem;
    margin-bottom: 1.5rem;

}

.hero-description{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.hero-subdescription{
    font-size: 1.3rem;
}

.solution-section{
    padding: 4rem 0;
}

.solution-container{
    padding: 0 2rem;
    gap: 3rem;
}

.solution-heading{
    font-size: 2.2rem;
    margin-bottom: 1.4rem;
}

.solution-list{
    gap: 0.5rem;
}

.solution-list li,
.solution-note,
.solution-body{
    font-size: 1.2rem;
}





}